*{
    margin:0;
    padding: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Red Hat Text', sans-serif;
}

header{
    height: 90px;
    padding: 0 39px;
    color: #FFFFFF;
    background-color: #F2785CB2;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
}

.logo{
    font: bold 32px 'Magra', sans-serif;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto 0;
    gap: 8px;
}

nav{
    display: flex;
    align-items: center;
}

.navbar{
    width: 527px;
    font-size: 16px;
    font-weight: 500;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 42px;
}

button{
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-family: 'Red Hat Text', sans-serif;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
}

header>button{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 25px 0px 25px 32px;
}

li{
    list-style: none;
}

li:hover{
    background-color: #555555;
}

a{
    color: #FFFFFF;
    text-decoration: none;;
}

#sec-1{
    position: absolute;
    top: 0;
    z-index: -1;
}

#preview{
    margin-top: 32px;
    margin-left: 120px;
}

h1{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #FFFFFF;
}

#preview>p{
    color: #FFFFFF;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 45px;
}

#search{
    display: flex;
    width: 63%;
    align-items: center;
    padding: 6px 20px 3px 41px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

#search>input{
    background-color:rgba(0, 0, 0, 0);
    border: none;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #F2785C;
}

#search>input::placeholder{
    color: #F2785C;
}

#search>button{
    padding: 15px 32px;
    margin: 13px 0;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    box-shadow: none;
}

h2{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #F2785C;
}

#steps{
    margin-top: 334px;
}

.rectangle{
width: 100px;
height: 100px;
background: #F2785C;
border-radius: 16px;
display: flex;
justify-content: center;
align-items: center;
}

.three-steps{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color:#0D606F;
}

.step{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#destinations-header{
    margin-top: 97px;
    margin-bottom: 46px;
}

.destinations-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    overflow: hidden;
}

figcaption{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    position: relative;
    color: #FFFFFF;
    bottom: 90px;
    left: 15px;
}

.circles-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.circle{
    height: 20px;
    width: 20px;
    background: #F2785C80;
    border-radius: 50%;
}

.circle.center{
    background-color: #F2785C;
}

#destinations-button{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: 40px auto 80px auto;
}

#arrow-right{
    margin-right: 10px;
}

#sec-2-wrapper{
    background-image: url(assets/sec-2.jpg);
}

#stories-wrapper{
    margin-top: 40px;
    padding: 40px 120px;
    background: rgba(255, 255, 255, 0.7);
    display: grid; 
    grid-template-columns: 400px 760px; 
    grid-template-rows: 250px 250px 250px 250px; 
    gap: 30px 40px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."
      ". ."; 
}

#stories-wrapper p{
    color: #0D606F;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.stories-image{
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

h3{
    color: #0D606F;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 24px;
}

#stories-button-wrapper{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    padding-bottom: 40px;
}

#stories-button{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

#sec-2{
    width: 1440px;
    position: absolute;
    top: 2450px;
    z-index: -1;
}

#rights{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height:60px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

footer span{
    justify-self: start;
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

#footer-icons{

    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}