*{
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 1440px;
    margin: 0 auto;
    font-family: 'Red Hat Text', sans-serif;
}

header{
    height: 90px;
    padding: 0 39px;
    color: #FFFFFF;
    background-color: #F2785CB2;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
}

.logo{
    font: bold 32px 'Magra', sans-serif;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto 0;
    gap: 8px;
}

.burger-menu{
    display: none;
}

.logo:hover{
    background-color: #0D606F;
    transition: 1s;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
}

.pop-up{
    padding-top: 70px;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top:0;
    width: 1440px;
    max-width: 1440px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.pop-up-content{
    padding: 25px 45px 0px 45px;
    margin: 0 auto;
    max-width: 650px;
    height: 660px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden{
    top: -1000px;
    visibility: hidden;
}


.facebook{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
    width: 560px;
    background: #1877F2;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.google{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
    width: 560px;
    background: #FFFFFF;
    color: #0D606F;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.google:hover{
    background-color: #c7c7c7;
    transition: 0.5s;
    cursor: pointer;
}

.facebook:hover{
    background-color: #539dff;
    transition: 0.5s;
    cursor: pointer;
}

.or-breaks{
    margin-top: 30px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 560px;
    color:rgba(13, 96, 111, 0.5);
}

hr{
    width: 560px;
    border: 1px solid rgba(13, 96, 111, 0.5);
}

.hint{
    margin-top: 20px;
    margin-bottom: 5px;
    align-self: start;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0D606F;
}

.pop-up-input{
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    width: 560px;
    height: 54px;
    border: none;
}

.sign-in{
    margin-top: 25px;
    justify-content: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    width: 560px;
    height: 54px;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.forgot-password{
    margin-top: 10px;
    color: #0D606F;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-style: normal;
    font-family: 'Aleo';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.low-break{
    margin-top: 26px;
}

.account-none{
    margin-top: 26px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.reg{
    color:#0D606F;
    text-decoration: underline;
    font-weight: bold;
}

.reg:hover{
    cursor: pointer;
    color: #1bacc5;
}

h4{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #0D606F;
}

.non-visible{
    display: none;
}

.small-pop-up{
    height: 400px;
}

.close{
    display: none;
}

.navbar{
    width: 527px;
    font-size: 16px;
    font-weight: 500;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 42px;
}

.navbar-small{
    display: none;
}

button{
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-family: 'Red Hat Text', sans-serif;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color: #1bacc5;
    transition: 1s;
    cursor: pointer;
}

header>button{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 25px 0px 25px 32px;
}

li{
    list-style: none;
}

li:hover{
    transition: 1s;
    background-color: #FFFFFF;
}

a{
    color: #FFFFFF;
    text-decoration: none;;
}

a:hover{
    transition: 1s;
    color: #0D606F;
}

#sec-1{
    width: 1440px;
    position: absolute;
    top: 0;
    z-index: -1;
}

#sec-1-mob{
    display: none;
}

#preview{
    margin-top: 32px;
    margin-left: 120px;
}

h1{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #FFFFFF;
}

#preview>p{
    color: #FFFFFF;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 45px;
}

#search{
    display: flex;
    width: 63%;
    align-items: center;
    padding: 6px 20px 3px 41px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

#search>input{
    background-color:rgba(0, 0, 0, 0);
    border: none;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #F2785C;
}

#search>input::placeholder{
    color: #F2785C;
}

#search>button{
    padding: 15px 32px;
    margin: 13px 0;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    box-shadow: none;
}

h2{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #F2785C;
}

#steps{
    margin-top: 334px;
}

.rectangle{
width: 100px;
height: 100px;
background: #F2785C;
border-radius: 16px;
display: flex;
justify-content: center;
align-items: center;
}

.three-steps{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color:#0D606F;
}

.break{
    display: none;
}

.step{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step.step-1{
    padding-right: 101px;
}

.step.step-3{
    padding-left: 29px;
}

#destinations-header{
    margin-top: 97px;
    margin-bottom: 46px;
}

.destinations-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    overflow: hidden;
}

.destinations-img:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}

.slider-image{
    transition: all 0.5s;
}

.destinations-img{
    border-radius: 2%;
}

.destinations-img-small{
    display: none;
}

.arrow-dest{
    display: none;
}

.spain{
    display: none;
}

figcaption{
    display: inline;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    position: relative;
    color: #FFFFFF;
    bottom: 90px;
    left: 15px;
}

.circles-wrapper{
    padding-top: 10px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.circle{
    height: 20px;
    width: 20px;
    background: #F2785C80;
    border-radius: 50%;
    transition: all 0.5s;
}

.active{
    background-color: #F2785C;
}

#destinations-button{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: 40px auto 80px auto;
    box-shadow: none;
}

.arrow-right{
    margin-right: 12px;
}

#sec-2-wrapper{
    background-image: url(assets/sec-2.jpg);
}

#stories-wrapper{
    margin-top: 4px;
    padding: 40px 120px;
    background: rgba(255, 255, 255, 0.7);
    display: grid; 
    grid-template-columns: 400px 760px; 
    grid-template-rows: 250px 250px 250px 250px; 
    gap: 30px 40px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."
      ". ."; 
}

    .lorem{
    color: #0D606F;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.stories-image{
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.stories-image-small{
    display: none;
}

h3{
    color: #0D606F;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 24px;
}

.lorem-small{
    display: none;
}

#stories-button-wrapper{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    padding-bottom: 40px;
}

#stories-button{
    padding-left: 32px;
    padding-right: 37px;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    box-shadow: none;
}

#sec-2{
    width: 1440px;
    position: absolute;
    top: 2404px;
    z-index: -1;
}

#sec-2-mob{
    display: none;
}

#rights{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height:58px;
    display: flex;
    align-items: center;
}

#rights{
    margin-bottom: 3px;
    margin-right: 308px;
    justify-self: start;
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

#footer-icons{
    margin-top: 4px;
    margin-right: 122px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

/*tablet settings*/

@media only screen and (max-width: 1200px) and (min-width:391px){
    body{
        overflow-x:hidden;
        width: 100%;
        max-width: 1440px;
    }

    .pop-up{
        width: 390px;
        max-width: 390px;
    }

    .pop-up-content{
        padding: 25px 10px 0px 10px;
        margin: 0 15px;
        width: 300px;
        max-width: 300px;
    }

    .facebook{
        width:200px;
    }

    .google{
        width:200px;
    }

    .or-breaks{
        width: 200px;
    }

    hr{
        width: 130px;
        border: 1px solid rgba(13, 96, 111, 0.5);
    }

    .pop-up-input{
        width: 200px;
    }

    .sign-in{
        width: 200px;
    }


    header{
        padding: 0;
        align-items: center;
        height: initial;
        flex-direction: column;
    }

    header>button{
        margin: 15px auto;
    }

    .navbar{
        width: 100%;
        flex-direction: column;
    }

    #sec-1{
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        height: 125%;
    }

    #sec-2{
        display: none;
        top: 3575px;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 243%;
        max-width: 100%;
    }

    #preview{
        margin: 0 auto;
    }

    h1{
        margin-top: 50px;
        font-size: 40px;
        text-align: center;
    }

    #preview>p{
        font-size: 16px;
        text-align: center;
    }

    #search{
        margin: 0 auto;
        flex-direction: column;
    }

    .three-steps{
        flex-direction: column;
    }

    .step.step-1{
        padding:0;
    }

    .step.step-3{
        padding: 0;
    }

    .destinations-wrapper{
        max-width: 1300px;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
    }

    figcaption{
        display: block;
    }

    .destinations-img{
        object-fit: cover;
        max-width: 100%;
    }

    #stories-wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    #stories-wrapper:after {
        content : "";
        display: block;
        position: absolute;
        top: 1;
        left: 0;
        background-image: url(assets/sec-2.jpg); 
        width: 100%;
        height: 150%;
        overflow: hidden;
        opacity : 0.7;
        z-index: -1;
    }

    h3{
        font-size: 20px;
    }

    .stories-image{
        width: 300px;
        object-fit: cover;
    }

    .lorem{
        font-size: 14px;
    }

    #stories-button-wrapper{
        padding: 15px 0;
        margin: 0 auto;
    }

    footer{
        background-image: url(assets/sec-2.jpg);
        margin-right: 0;
    }

    #footer-icons{
        justify-content: space-around;
        margin-right: 15px;
        margin-left: 15px;
    }

    #rights{
        margin-right: 0;
    }


}

/*mobile settings*/

@media only screen and (max-width: 390px){

    *{
        margin: 0;
        padding: 0;
    }

    body{
        width: 390px;
    }
    
    .navbar, #sec-1, #sec-2, .logo>p, .login, .explore, .receive{
        display:none;
    }

    .pop-up{
        width: 390px;
        max-width: 390px;
        position: absolute;
    }

    .pop-up-content{
        overflow: hidden;
        padding: 25px 10px 0px 10px;
        margin: 0 15px;
        width: 300px;
        max-width: 300px;
    }

    h4{
        font-size: 20px;
    }

    .facebook{
        width:200px;
        font-size: 12px;
    }

    .google{
        width:200px;
        font-size: 12px;
    }

    .or-breaks{
        width: 200px;
        font-size: 12px;
    }

    hr{
        width: 130px;
        border: 1px solid rgba(13, 96, 111, 0.5);
    }

    .hint{
        margin-left: 50px;
        font-size: 12px;
    }

    .pop-up-input{
        font-size: 12px;
        width: 200px;
    }

    .sign-in{
        font-size: 12px;
        width: 200px;
    }


    header{
        display: block;
        height: auto;
        background-color: unset;
        box-shadow: none;
        padding: 0 0 0 0;
        margin: 43px 17px 0;
    }

    #sec-1-mob{
        width: 390px;
        display: inline;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .logo{
        margin: auto 3px 0 -1px;
        justify-content: space-between;
    }

    .logo:hover{
        background-color: unset;
    }

    .burger-menu{
        display: inline;
        width: 35px;
        transition-duration: 0.5s;
    }

    .burger-menu:hover{
        transform: scale(1.5);
        color: #0D606F;
        cursor: pointer;
    }

    #preview{
        margin: 0;
        margin-top: 67px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #search{
        width:auto;
        padding: 0;
        height: 48px;
        justify-content: space-around;
    }

    #search>input{
        margin-left: 8px;
        font-size: 14px;
        line-height: 17px;
    }

    #search>button{
        margin-left: 46px;
        padding: 8px 9px;
        font-size: 11px;
    }

    #steps{
        margin-top: 80px;
    }

    #steps>h2{
        font-size: 14px;
    }

    .three-steps{
        justify-content: space-between;
        margin-left: 14px;
        margin-right: 10px;
        margin-top: 23px;
        font-size: 10px;
    }

    .rectangle{
        width: 70px;
        height: 70px;
    }

    .step{
        gap: 20px;
    }

    .step.step-1{
        padding-right: 0px;
    }

    .step img{
        width: 50%;
    }

    .step.step-2{
        padding-left: 3px;
    }

    .step.step-3{
        padding-left: 0px;
    }

    .step.step-3 p{
        text-align: right;
    }

    .break{
        display: initial;
    }

    #destinations-header{
        font-size: 14px;
        margin-top: 18px;
        margin-bottom: 22px;
    }

    .destinations-wrapper{
        justify-content:start;
        margin: 0 15px;
        height: 210px;
        border-radius: 16px;
    }

    .mobile-slider-wrapper{
        position: relative;
        margin: 0 auto;
        margin-top: -30px;
    }

    #destinations-button{
        justify-content: center;
        padding: 8px 0px;
        font-size: 11px;
        margin: 22px auto 0px auto;
    }

    .arrow-right{
        width: 10%;
        margin-right: 5px;
   }

   .circles-wrapper{
    position: relative;
    padding-top: 0px;
    margin-left: 0;
    gap: 6px;
    margin-top: -20px;
   }

   .circle{
    height: 8px;
    width: 8px;
   }
   
   figcaption{
    font-size: 20px;
    bottom: 207px;
    left: 15px;
   }

   .destinations-img{
    display: none;
}
   .destinations-img-small{
    display: initial;
   }

   .arrow-dest{
    display: initial;
    transition: all 0.5s;
   }

   .arrow-dest:hover{
    cursor: pointer;
    background-color:#0D606F;
    border-radius: 20px;
   }

   .arrow-dest.left {
        transform: rotate(180deg);
    }

    .arrow-wrapper{
        margin-right: 40px;
        max-width: 350px;
        z-index: 2;
        position: relative;
        top: 120px;
        left: 20px;
        display: flex;
        justify-content: space-between;
    }

    .spain{
        display: block;
        padding-top: 7px;
        padding-left: 15px;
    }
    .spain>p{
        display: initial;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
    }

    #stories-header{
        margin-top: 21px;
        font-size: 14px;
    }

    #stories-wrapper{
        margin-top: 11px;
        padding: 9px 15px;
        background: rgba(255, 255, 255, 0.7);
        grid-template-columns: 155px 195px;
        grid-template-rows: 130px 130px 130px 130px;
        gap: 15px 10px;
    }

    h3{
        font-weight: bold;
        margin-top: 5px;
        font-size: 11px;
        margin-bottom: 10px;
    }

    .stories-image{
        display: none;
    }

    .stories-image-small{
        display: initial;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
    }

    .lorem{
        display: none;
    }

    .lorem-small{
        display: block;
        color: #0D606F;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
    }
    
    #stories-button{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        box-shadow: none;
        justify-content: center;
        padding: 8px 0px;
        font-size: 11px;
        margin: 0 auto;
    }

    #stories-button-wrapper{
        padding-bottom: 14px;
    }

    #footer{
        height: 65px;

    }

    #footer-icons{
        margin-top: 11px;
        margin-right: 0;
        justify-content: center;
    }

    #rights{
        display: none;
    }

    #sec-2-mob{
        display: inline;
        width: 390px;
        display: inline;
        position: absolute;
        top: 783px;
        z-index: -1;
    }

    #nav{
        position: fixed;
        top: 0px;
        right: -200px;
        width: 165px;
        height: 250px;
        background-color: #F2785C;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        transition-duration: 1s;
        overflow: hidden;
    }

    .navbar-small{
        display: flex;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 0px 0px 25px;
        text-align:right;
        gap: 10px;
    }

    .close{
        display: initial;
        margin-bottom: 10px;
        align-self: flex-start;
        padding-top: 8px;
        padding-left: 8px;
    }

    .close:hover{
        transition-duration: 0.5s; 
        transform: scale(1.5);
        cursor: pointer;
    }
}

@media only screen and (max-width: 389px){
    body{
        width: initial;
        max-width: 390px;
    }

    #sec-1-mob{
        max-width: 100%;
    }

    #sec-2-mob{
        max-width: 100%;
        height: 86%;
        overflow: hidden;
    }

    #stories-wrapper{
        grid-template-columns: 0.7fr 1fr;
    }

    .stories-image-small{
        width: 100%;
    }

    .lorem-small{
        font-size: 6px;
    }

    #search>button{
        font-size: 9px;
        margin-left: 0;
    }
    
}